

.li-link-nav-item{
  color: #494949;

}

.btn{ 
  background-color: #faf6e9;
  color: #494949;
  font-family: 'Courier New', Courier, monospace;
  text-transform: lowercase;
  font-weight: 700;
  outline-color: #faf6e9;
}

.btn:hover{
  background-color: #343333;

}

a:link, a:visited, a:active{
  color:#494949;
  text-decoration: none;
}

a:hover{
  color:#9c2542;
  text-decoration: none;
}


